
.categoryHeader{

    font-family:Arial;
    
    color:#fff;
    font-size: x-large;
    text-align:center;
}
.categoryValues
{
    font-family:Arial;
    color:#fff;
    font-size:large;
    text-align:center;
}